:root {
    --title-font-family:"CMU Serif";
    --subtitle-font-family:var(--title-font-family);
    --subsubtitle-font-family:var(--title-font-family);
    --body-font-family:var(--title-font-family);

    --title-font-size:25px;
    --subtitle-font-size:16px;
    --subsubtitle-font-size:13px;
    --body-font-size:13px;
}

html {
    max-width: 100%;
    margin: auto;
}

h1 {
    /* border-top: 1px solid black; */
    border-bottom: 1px solid black;
    font-family: var(--title-font-family);
    font-size: var(--title-font-size);
    text-align: center;
    line-height: 1.5em;
    vertical-align: middle;
}

h2 {
    font-family: var(--subtitle-font-family);
    font-size: var(--subtitle-font-size);
    text-align: center;
    line-height: 0.5em;
}

h3 {
    font-family: var(--subsubtitle-font-family);
    font-size: var(--subsubtitle-font-size);
    text-align: left;
    line-height: 0.5em;
}

p {
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    text-align: justify;
    line-height: 2em;
}

h4 {
    font-family: var(--subsubtitle-font-family);
    font-size: 18px;
    text-align: left;
    line-height: 0em;
}

hr {
    border-top: 1px solid black;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}
